@import "../../../../tokens/build/scss/variables.scss";

::ng-deep {
  .custom-calendar-small {
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
      padding: 0;
      margin: 0;
    }
    .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
      color: $text-color;
    }

    .ant-picker-calendar-full .ant-picker-panel .ant-picker-body th:first-child,
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-body th:last-child,
    .weekend {
      background-color: $neutral-3;
    }
    .custom-cell {
      padding: 5px;

      &.holiday {
        background-color: $red-3;
      }
    }
  }

  .custom-calendar-medium {
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
      padding: 0;
      margin: 0;
    }
    .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
      color: $text-color;
    }

    .ant-picker-calendar-full .ant-picker-panel .ant-picker-body th:first-child,
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-body th:last-child,
    .weekend {
      background-color: $neutral-3;
    }
    .custom-cell {
      padding: 5px;

      &.holiday {
        background-color: $red-3;
      }
    }
  }
}
