<!-- 
<button nz-button nzType="primary">asd</button>
<input type="text" nz-input placeholder="Basic usage"> -->
<!-- <button (click)="toggleCollapsed()">click</button>
<div class="side-menu-wrapper">
  <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu nzTitle="Navigation One" nzIcon="mail" nzOpen="true">
      <ul>
        <li nz-menu-group nzTitle="Item 1">
          <ul>
            <li nz-menu-item nzSelected>Option 1</li>
            <li nz-menu-item>Option 2</li>
          </ul>
        </li>
        <li nz-menu-group nzTitle="Item 2">
          <ul>
            <li nz-menu-item>Option 3</li>
            <li nz-menu-item>Option 4</li>
          </ul>
        </li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
      <ul>
        <li nz-menu-item>Option 5</li>
        <li nz-menu-item>Option 6</li>
        <li nz-submenu nzTitle="Submenu">
          <ul>
            <li nz-menu-item>Option 7</li>
            <li nz-menu-item>Option 8</li>
            <li nz-submenu nzTitle="Submenu">
              <ul>
                <li nz-menu-item>Option 9</li>
                <li nz-menu-item>Option 10</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
      <ul>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
      </ul>
    </li>
  </ul>
</div> -->

<!-- <app-calendar-full-view></app-calendar-full-view> -->
<!-- <div class="row">
  <div class="col-12">col-12</div>
  <div class="col-6">col-6</div>
  <div class="col-6">col-6</div>
  <div class="col-4">col-4</div>
  <div class="col-4">col-4</div>
  <div class="col-4">col-4</div>
</div> -->

<!-- <app-main-layout></app-main-layout> -->

<router-outlet></router-outlet>