<div class="login-wrapper">
    <div class="login-container">

        <img [src]="images.LOGIN_IMG_VERTICAL" alt="" class="login-container-left-vertical">
        <img [src]="images.LOGIN_IMG_HORIZONTAL" alt="" class="login-container-left-horizontal">
        <div class="login-container-right">
            <div class="heading-wrapper">
                <h2 nz-typography>Hello !</h2>
                <h3 nz-typography>Welcome to HRMS</h3>
            </div>
            <p nz-typography nzType="danger" *ngIf="loginError != null">
                {{loginError.message ?? 'User Name or Password wrong!'}}
            </p>
            <form nz-form [formGroup]="loginForm" (submit)="loginClick()" [nzLayout]="'vertical'" class="login-form">
                <nz-form-item>
                    <nz-form-label nzFor="username">User Name</nz-form-label>
                    <nz-form-control nzErrorTip="Please enter user name!">
                        <input nz-input type="text" placeholder="example@gmail.com" formControlName="username">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="username">Password</nz-form-label>
                    <nz-form-control nzErrorTip="Please enter user name!">
                        <input nz-input type="text" placeholder="xxxxxx" formControlName="password">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="justify-content-center">
                    <button nz-button nzType="primary" [nzLoading]="loginLoding">Log In</button>
                </nz-form-item>
                <div class="d-flex justify-content-center">
                    <a href="">Forget your Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>